PORT=4000
CORS_ORIGIN=http://localhost:5173
DATABASE_URL=postgres://postgres:postgres@localhost:5432/forninho
MERCADOPAGO_ACCESS_TOKEN=YOUR_MP_ACCESS_TOKEN
MERCADOPAGO_PUBLIC_KEY=YOUR_MP_PUBLIC_KEY
MERCADOPAGO_DEVICE_ID=YOUR_MP_DEVICE_ID
MERCADOPAGO_TERMINAL_ID=YOUR_MP_TERMINAL_ID
MERCADOPAGO_POS_ID=122379696
